.container {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcomeMessage {
  font-size: 16px;
  margin-bottom: 20px;
  padding-left: 5px;
}

.promptContainer {
  display: flex;
  align-items: center;
  margin: 15px 0;
  position: relative;
  width: 100%;
}

.promptContainer > div {
  width: -webkit-fill-available;
}

.generateButton {
  background-color: #550c2d;
  color: white;
  padding: 14.5px 20px;
  border: none;
  margin: auto;
  align-self: self-end;
  cursor: pointer;
  font-size: 16px;
  border-top-right-radius: 5px;
  margin-left: -3px;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.generateButton:hover {
  background-color: #230211;
}
.supprise {
  position: absolute;
  background-color: transparent;
  top: 55%;
  transform: translateY(-50%);
  padding: 14px 2px;
  border: none;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}
.submitButton {
  background-color: indigo;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: rgb(37, 5, 59);
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .welcomeMessage {
    font-size: 14px;
  }

  .submitButton {
    font-size: 14px;
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .title {
    font-size: 24px;
  }

  .welcomeMessage {
    font-size: 12px;
  }

  .generateButton,
  .submitButton {
    font-size: 12px;
    padding: 8px 10px;
  }
}
